<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of Pet Owners</title>
</head>
<body>

<!--le decimos a IntelliJ que a la propiedad owner sera del tipo model.Owner-->
<!--/*@thymesVar id="owner" type="com.milo.pet.clinic.model.Owner"*/-->
    <h2 th:text="'List of Owner'">Owner List</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 150px;">Id</th>
                <th style="width: 150px;">First Name</th>
                <th style="width: 150px;">Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="owner : ${owners}">
                <td th:text="${owner.id}">1</td>
                <td th:text="${owner.firstName}">Camilo</td>
                <td th:text="${owner.lastName}">Romero</td>
            </tr>
        </tbody>
    </table>
</body>
</html>